<div class="col-lg-3">
  <div class="well sidebar-nav">
    <h3><%= @user.name %></h3>
    <div class="karma"><span class="link-karma"><%= @user.link_karma %></span> &nbsp;link karma</div>
    <div class="karma"><span class="comment-karma"><%= @user.comment_karma %></span> &nbsp;comment karma</div>
    <br/>
    <% if current_user %>
      <%= link_to "Message #{@user.name}", new_message_path(:user_id => @user.id), class: 'btn btn-primary' %>
      <br/>
    <% end %>
    <br/>
    <p>Member since <%= time_ago_in_words(@user.created_at) %> ago</p>
  </div>
</div>
