<% content_for :teaser do %>
  Today's top posts on Majority.Report
<% end %>

<% content_for :header do %>
  <h1>Majority Report Top Posts for <%= @date_str %></h1>
<% end %>

<% content_for :unsubscribe do %>
  <%= link_to 'Unsubscribe', unsubscribe_newsletter_url(:id => @subscriber.secret) %>
<% end %>

<% i = 1 %>
<% @posts.each do |post| %>
  <h3><%= i %>. <%= link_to raw(post.title), post.full_url %></h3>
  <p><%= link_to 'view comments', view_post_url(path: post.subphez.path, post_id: post.id, guid: post.guid) %></p>
  <% i += 1 %>
<% end %>
